# PHASE 1

1) Webscrape the provided URL  - IMDB dataset:


https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1


2) Store the entire data in two different CSV files as per the given fields:


The first CSV file data contains :


Sno, Movie Name, Director Name, Duration, year, ratings, Metascore


Bifurcate the Director field into subfields as per the number of directors of the movie belongs to such as Director1, director2


The second CSV file contains the following:


Movie Name, stars, votes, Genre, Gross collection, popularity, Certification


Bifurcate the stars field into 4 subfields as per the number of stars worked in the movie such as star1, star2, star3, star4


Bifurcate the genre into 3 subfields as per the number of genres the movie belongs to such as :


Genre1, genre2, genre3

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r'/Users/muskansureka/Desktop/chromedriver.exe')

In [3]:
driver.get('https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1')

In [4]:
Sno=[]
start=0
end=2
for sno in range(start,end):
    snos=driver.find_elements(By.XPATH,'//span[@class="lister-item-index unbold text-primary"]')
    for i in snos:
        Sno.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [5]:
Year=[]
start=0
end=2
for year in range(start,end):
    years=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for i in years:
        Year.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [6]:
Duration=[]
start=0
end=2
for duration in range(start,end):
    durations=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in durations:
        Duration.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [7]:
Rating=[]
start=0
end=2
for rating in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="inline-block ratings-imdb-rating"]')
    for i in ratings:
        Rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [8]:
from selenium.common.exceptions import NoSuchElementException

In [9]:
Metascore=[]
start=0
end=2
for metascore in range(start,end):
    try:
        metascores=driver.find_elements(By.XPATH,'//div[@class="inline-block ratings-metascore"]//span')
        for i in metascores:
            Metascore.append(i.text)
    except NoSuchElementException:
        Metascore.append('-')
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [10]:
Votes=[]
start=0
end=2
for vote in range(start,end):
    votes=driver.find_elements(By.XPATH,'//p[@class="sort-num_votes-visible"]')
    for i in votes:
        Votes.append(i.text[7:16])
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [11]:
Gross=[]
start=0
end=2
for gross in range(start,end):
    grosss=driver.find_elements(By.XPATH,'//p[@class="sort-num_votes-visible"]')
    for i in grosss:
        Gross.append(i.text[26:34])
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [12]:
Genre=[]
start=0
end=2
for genre in range(start,end):
    genres=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genres:
        Genre.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [13]:
Certification=[]
start=0
end=2
for certificate in range(start,end):
    certificates=driver.find_elements(By.XPATH,'//span[@class="certificate"]')
    for i in certificates:
        Certification.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [14]:
Movie=[]
start=0
end=2
for movie in range(start,end):
    movies=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
    for i in movies:
        Movie.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [15]:
Director=[]
start=0
end=2
for director in range(start,end):
    directors=driver.find_elements(By.XPATH,'//p[3][@class]/a[1]')
    for i in directors:
        Director.append(i.text)
    next_button=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[1]/div[2]/a')
    next_button.click()
    time.sleep(2)

In [16]:
print(len(Sno),len(Movie),len(Director),len(Duration),len(Year),len(Rating))

100 100 100 100 100 100

In [17]:
import pandas as pd
df1=pd.DataFrame({"Movie Name":Movie,
                "Votes":Director,
                "Duration":Duration,
                "Year":Year,
                 "Ratings":Rating})
df1

,Movie Name,Votes,Duration,Year,Ratings
0,The Dark Knight,Christopher Nolan,152 min,(2008),9.0
1,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,(2003),9.0
2,Inception,Christopher Nolan,148 min,(2010),8.8
3,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,(2001),8.8
4,The Lord of the Rings: The Two Towers,Peter Jackson,179 min,(2002),8.8
...,...,...,...,...,...
95,Wolfwalkers,Tomm Moore,103 min,(2020),8.0
96,Elite Squad,José Padilha,115 min,(2007),8.0
97,Haider,Vishal Bhardwaj,160 min,(2014),8.0
98,Sanjuro,Akira Kurosawa,96 min,(1962),8.0
99,Elite Squad 2: The Enemy Within,José Padilha,115 min,(2010),8.0

In [18]:
print(len(Movie),len(Votes),len(Genre),len(Gross),len(Certification))

100 100 100 100 100

In [19]:
df2=pd.DataFrame({"Movie Name":Movie,
                "Votes":Votes,
                "Genre":Genre,
                "Gross collection":Gross,
                 "Certifications":Certification})
df2

,Movie Name,Votes,Genre,Gross collection,Certifications
0,The Dark Knight,"2,718,585","Action, Crime, Drama",$534.86M,12A
1,The Lord of the Rings: The Return of the King,"1,887,307","Action, Adventure, Drama",$377.85M,12A
2,Inception,"2,413,332","Action, Adventure, Sci-Fi",$292.58M,12A
3,The Lord of the Rings: The Fellowship of the Ring,"1,915,959","Action, Adventure, Drama",$315.54M,PG
4,The Lord of the Rings: The Two Towers,"1,703,481","Action, Adventure, Drama",$342.55M,12A
...,...,...,...,...,...
95,Wolfwalkers,"35,171","Animation, Action, Adventure",,PG
96,Elite Squad,"106,738 |","Action, Crime, Drama",.01M,18
97,Haider,"56,089 |","Action, Crime, Drama",90M,15
98,Sanjuro,"39,439","Action, Drama, Thriller",,A
99,Elite Squad 2: The Enemy Within,"84,731 |","Action, Crime, Drama",10M,18

In [20]:
Genre=df2['Genre'].str.split(',',3,expand=True)
Genre

            0           1           2
0      Action       Crime       Drama
1      Action   Adventure       Drama
2      Action   Adventure      Sci-Fi
3      Action   Adventure       Drama
4      Action   Adventure       Drama
..        ...         ...         ...
95  Animation      Action   Adventure
96     Action       Crime       Drama
97     Action       Crime       Drama
98     Action       Drama    Thriller
99     Action       Crime       Drama

[100 rows x 3 columns]

In [21]:
df2['Genre_1']=Genre[0]
df2['Genre_2']=Genre[1]
df2['Genre_3']=Genre[2]

In [22]:
df1

,Movie Name,Votes,Duration,Year,Ratings
0,The Dark Knight,Christopher Nolan,152 min,(2008),9.0
1,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,(2003),9.0
2,Inception,Christopher Nolan,148 min,(2010),8.8
3,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,(2001),8.8
4,The Lord of the Rings: The Two Towers,Peter Jackson,179 min,(2002),8.8
...,...,...,...,...,...
95,Wolfwalkers,Tomm Moore,103 min,(2020),8.0
96,Elite Squad,José Padilha,115 min,(2007),8.0
97,Haider,Vishal Bhardwaj,160 min,(2014),8.0
98,Sanjuro,Akira Kurosawa,96 min,(1962),8.0
99,Elite Squad 2: The Enemy Within,José Padilha,115 min,(2010),8.0

In [23]:
df2

,Movie Name,Votes,Genre,Gross collection,Certifications,Genre_1,Genre_2,Genre_3
0,The Dark Knight,"2,718,585","Action, Crime, Drama",$534.86M,12A,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,"1,887,307","Action, Adventure, Drama",$377.85M,12A,Action,Adventure,Drama
2,Inception,"2,413,332","Action, Adventure, Sci-Fi",$292.58M,12A,Action,Adventure,Sci-Fi
3,The Lord of the Rings: The Fellowship of the Ring,"1,915,959","Action, Adventure, Drama",$315.54M,PG,Action,Adventure,Drama
4,The Lord of the Rings: The Two Towers,"1,703,481","Action, Adventure, Drama",$342.55M,12A,Action,Adventure,Drama
...,...,...,...,...,...,...,...,...
95,Wolfwalkers,"35,171","Animation, Action, Adventure",,PG,Animation,Action,Adventure
96,Elite Squad,"106,738 |","Action, Crime, Drama",.01M,18,Action,Crime,Drama
97,Haider,"56,089 |","Action, Crime, Drama",90M,15,Action,Crime,Drama
98,Sanjuro,"39,439","Action, Drama, Thriller",,A,Action,Drama,Thriller
99,Elite Squad 2: The Enemy Within,"84,731 |","Action, Crime, Drama",10M,18,Action,Crime,Drama

In [24]:
df1=df1.to_csv('imdb1.csv')

In [25]:
df2=df2.to_csv('imdb2.csv')

In [26]:
driver.close()

# PHASE-2

SELECT * FROM imdb1

SELECT * FROM imdb2
1. SELECT * FROM imdb1

WHERE Director='Christopher'

AND WHERE Director='Matt Reeves'

2. SELECT * FROM imdb1

WHERE Duration BETWEEN 140 AND 190

3. SELECT * FROM imdb1

WHERE Rating > 7

ORDER BY Rating ASC

4. SELECT Movies FROM imdb1

ORDER BY Movies DESC

5. SELECT Movies FROM imdb1

WHERE Movies LIKE 'P%'

AND WHERE Rating > 7

6. SELECT Movies FROM imdb2

WHERE Star='Arnold Schwarzenegger'

ORDER BY Movies ASC

7. SELECT * FROM imdb2

WHERE Votes=(SELECT MAX(Votes) FROM imdb2)

8. SELECT Movies FROM imdb2

AND

SELECT Gross FROM imdb2

ORDER BY Gross DESC

9. SELECT Gross FROM imdb2

AND

SELECT Movies FROM imdb2

WHERE Star='Arnold'

10. SELECT * FROM imdb2

WHERE Genre_1='comedy'

AND WHERE Genre_2='action'

11. SELECT Movies FROM imdb1

UNION ALL

SELECT Movies FROM imdb2

12. (SELECT Movies,Director,Rating FROM imdb1)

UNION ALL

(SELECT Gross FROM imdb2)

WHERE Genre='Action'

13. (SELECT * FROM imdb1

WHERE Gross=(SELECT MAX(Gross) FROM imdb1))

UNION

(SELECT * FROM imdb2

WHERE Gross=(SELECT MAX(Gross) FROM imdb2))

14. (SELECT * FROM imdb1

WHERE Rating=(SELECT MAX(Rating) FROM imdb1))

UNION

(SELECT * FROM imdb2

WHERE Rating=(SELECT MAX(Rating) FROM imdb2))

15. (SELECT * FROM imdb1

WHERE Rating=(SELECT MIN(Rating) FROM imdb1)

AND WHERE Gross=(SELECT MIN(Gross) FROM imdb1))

UNION

(SELECT * FROM imdb2

WHERE Rating=(SELECT MIN(Rating) FROM imdb2)

AND WHERE Gross=(SELECT MIN(Gross) FROM imdb2))